{{#partial "content"}}



<!--<p>Add a new Squad:</p>-->
<div class="hero-img">
    <img src="/images/superheros.jpeg">
    </div>
    <div class="hero-desc">
      <h2>Let's Make You  a Hero</h2>
        <a href="/hero-form"><button class="hero-btn btns">Create Hero</button></a>
    </div>

<form action="/post/squad/form" method="POST">

 

</form>
{{/partial}}

{{> layout.hbs}}